
.jumbotron {
    background-image: url(Cloud.jpg);
    /* background-size: 110% 170%; */
    background-position: center; 
    background-repeat: no-repeat;
    /* background-size: cover;
    background-position-x: right;
    background-position-y: -3rem;  */
    color: whitesmoke;
}

.jumbo-title{
    margin-left: 80px;
    font-family: 'La Belle Aurore', cursive;
    font-size: 60pt;
}

.jumbo-subtitle {
    margin-left: 200px;
    margin-top: -30px;
    font-family: 'La Belle Aurore', cursive;
    font-size: 20pt
}

.navbar {
    margin-top: -40px;
}