
body{
    background-color: #ebecf0;
}

.jumbotron {
    background-image: url(Cloud.jpg);
    /* background-size: 110% 170%; */
    /* background-position: center;  */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    /* background-position-x: right;
    background-position-y: -5rem;  */
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}

.jumbo-title{
    margin-left: 80px;
    margin-top: 50px;
    font-family: 'La Belle Aurore', cursive;
    font-size: 62pt;
}

.jumbo-subtitle {
    margin-left: 200px;
    margin-top: -30px;
    font-family: 'La Belle Aurore', cursive;
    font-size: 25pt
}

.navbar {
    margin-top: -40px;
}

.city-name-btn {
    font-size: 16pt;
}

#weather-icon img {
    width: 120px;
    height: 120px;
    margin-left: 50px;
}

.card-body h1{
    font-size: 55pt;
    text-align: center;
}

.card-header {
    font-size: 18pt;
    text-align: center;
}

/* 5-Day Forecast Styling */
.col-md-3 {
    text-align: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-top: 30px;
}

.date {
    font-size: 14pt;
}

.temp {
    font-size: 16pt;
    font-weight: bold;
}

.icon img {
    height: 65px;
    width: 65px;
    background-position-y: center;
    margin-bottom: 15px;
}

.hum{
    font-size: 12pt;
}

.hide {
    display: none;
}